-e ../tools #egg=code-review-tools
dj-database-url==2.1.0
Django==4.2.6
django-cors-headers==4.2.0
djangorestframework==3.14.0
dockerflow==2022.8.0
drf-yasg==1.21.7
gunicorn==21.2.0
psycopg2-binary==2.9.9
sqlparse==0.4.4
whitenoise==6.5.0
