-e ../tools #egg=code-review-tools
dj-database-url==1.2.0
Django==4.1.5
django-cors-headers==3.13.0
djangorestframework==3.14.0
dockerflow==2022.8.0
drf-yasg==1.21.4
gunicorn==20.1.0
psycopg2-binary==2.9.5
sqlparse==0.4.3
whitenoise==6.2.0
