aiohttp<4
influxdb==5.3.2
jwt==1.4.0
libmozdata==0.2.12
PyGithub==2.8.1
python-hglib==2.6.2
pyyaml==6.0.3
rs_parsepatch==0.4.4
sentry-sdk==2.52.0
setuptools==80.9.0
structlog==25.5.0
taskcluster==95.0.0
