aiohttp==3.9.1
async-timeout==4.0.3

# Limit idna to avid conflicts
idna>=2.5,<3.7
multidict==6.0.4
rs_parsepatch==0.4.0
# sentry-sdk 1.23 and after has some issues with our code, keep this until we fix it.
# The introduction of loguru to the sdk broke our integration.
sentry-sdk==1.22.2
structlog==23.3.0
taskcluster==59.2.0
treeherder-client==5.0.0
# Please see #1416, this eventually must be removed!
# Also this must be below 2.0.0 until we move sentry-sdk to 1.23
urllib3==1.26.15
yarl==1.9.4
