aiohttp==3.6.2
async-timeout==3.0.1

# Limit idna to avid conflicts
idna>=2.5,<2.11
logbook==1.5.3
multidict==4.5.2
raven==6.10.0
structlog==20.1.0
taskcluster==37.3.0
treeherder-client==5.0.0
yarl==1.3.0
